<aside class="side-menu left" id="sideMenu" ng-include="'view/sidemenu.html'" ng-controller="sidemenuController"></aside>
<main class="main-page">
    <h2 class="main-page-title">Nova Ordem de Serviço</h2>
    <section class="cadastro-ordem-container column-container gap-x">
        <div class="row-container gap-y">
            <div class="input-group d-width">
                <label class="default-label" for="cliente-search">Cliente:</label>
                <input class="default-input" id="cliente-search" type="text" placeholder="Pesquisar cliente...">
            </div>
            <button type="button" class="default-button--filled d-width mt-32">Cadastrar novo cliente</button>
        </div>
        <section class="column-container">
            <h3 class="main-page-subtitle">Equipamentos</h3>
            <div class="row-container wrap gap">
                <div class="cadastro-item-container">
                    <div class="input-group d-width">
                        <label class="default-label" for="equipamento-name">Equipamento</label>
                        <input class="default-input" id="equipamento-name" type="text" placeholder="Digite um nome para o equipamento...">
                    </div>
                    <div class="input-group d-width">
                        <label class="default-label" for="equipamento-desc">Descrição do equipamento:</label>
                        <textarea class="default-textarea" id="equipamento-desc" name="equipamento-desc" rows="10" placeholder="Descreva o equipamento entregue pelo cliente..." onresize="false"></textarea>
                    </div>
                    <div class="input-group d-width">
                        <label class="default-label" for="equipamento-avarias">Avarias encontradas:</label>
                        <textarea class="default-textarea" id="equipamento-avarias" name="equipamento-avarias" rows="10" placeholder="Digite as avarias descritas pelo cliente..." onresize="false"></textarea>
                    </div>
                </div>
                
                <div class="cadastro-item-button-container">
                    <img src="img/plus.png" alt="Adicionar novo equipamento">
                    <button type="submit" class="default-button--outline sm-width mt-32">Novo Equipamento</button>
                </div>
            </div>
        </section>
    </section>
    <button type="submit" class="default-button--filled d-width mt-64">Enviar ordem de serviço</button>
</main>