<aside class="side-menu left" id="sideMenu" ng-include="'view/sidemenu.html'" ng-controller="sidemenuController"></aside>
<main class="main-page">
    <back-button></back-button>
    <h2 class="main-page-title">Nova Ordem de Serviço</h2>
    <section class="cadastro-ordem-container column-container gap-x">
        <section class="column-container gap-x-16">
            <div class="search-input-group">
                <div class="input-group">
                    <label class="default-label" for="cliente-search">Cliente:</label>
                    <div class="search-elements">
                        <input ng-model="searchInput.email" ng-keyup="searchEmail($event.keyCode)" class="default-input search d-width" id="cliente-search" type="email" placeholder="Digite o email do cliente e pressione 'Enter'">
                        <button ng-click="searchEmail(13)" type="submit" class="default-button--filled content-width"><span class="mdi mdi-magnify"></span> Buscar</button>
                    </div>
                    <button type="button" class="noBg-button content-width"><span class="mdi mdi-account-plus-outline"></span> Cadastrar novo cliente</button>
                </div>
            </div>
            
            <div ng-show="showEmailError" class="default-error">
                <span class="mdi mdi-alert-outline"></span>{{emailExceptionMessage}}
            </div>
    
            <div ng-show="isClienteAvailable" class="dados-cliente-container column-container">
                <h3 class="main-page-subtitle">Cliente selecionado:</h3>
                <div class="info-row">
                    <h4>Nome:</h4>       
                    <p>{{cliente.nome}}</p>
                </div>
                <div class="info-row">
                    <h4>Email:</h4>
                    <p>{{cliente.email}}</p>
                </div>
                <div class="info-row">
                    <h4>Telefone:</h4>
                    <p>{{cliente.telefone}}</p>
                </div>
                <div class="info-row">
                    <h4>Endereço:</h4>
                    <p>{{cliente.endereco}}</p>
                </div>
            </div>
        </section>

        <section class="column-container">
            <h3 class="main-page-subtitle">Equipamentos</h3>
            <div class="row-container wrap gap">
                <div ng-repeat="item in itens" class="item-salvo-container">
                    <div class="input-group d-width">
                        <h4 class="default-label">Equipamento:</h4>
                        <p>{{item.equipamento}}</p>
                    </div>
                    <div class="input-group d-width">
                        <h4 class="default-label">Descrição do equipamento:</h4>
                        <p>{{item.descricao}}</p>
                    </div>
                    <div class="input-group d-width">
                        <h4 class="default-label">Avarias encontradas:</h4>
                        <p>{{item.avaria}}</p>
                    </div>
                </div>

                <div class="cadastro-item-container">
                    <div class="input-group d-width">
                        <label class="default-label" for="equipamento-name">Equipamento</label>
                        <input ng-model="item.equipamento" class="default-input" id="equipamento-name" type="text" placeholder="Digite um nome para o equipamento...">
                    </div>
                    <div class="input-group d-width">
                        <label class="default-label" for="equipamento-desc">Descrição do equipamento:</label>
                        <textarea ng-model="item.descricao" class="default-textarea" id="equipamento-desc" name="equipamento-desc" rows="10" placeholder="Descreva o equipamento entregue pelo cliente..." onresize="false"></textarea>
                    </div>
                    <div class="input-group d-width">
                        <label class="default-label" for="equipamento-avarias">Avarias encontradas:</label>
                        <textarea ng-model="item.avaria" class="default-textarea" id="equipamento-avarias" name="equipamento-avarias" rows="10" placeholder="Digite as avarias descritas pelo cliente..." onresize="false"></textarea>
                    </div>
                    <button ng-click="addItem(item)" type="submit" class="default-button--outline">Salvar</button>
                    <div ng-show="showItemError" class="default-error">
                        <span class="mdi mdi-alert-outline"></span>{{itemExceptionMessage}}
                    </div>
                </div>
            </div>
        </section>

        <div ng-show="showError" class="default-error">
            <span class="mdi mdi-alert-outline"></span>{{genericExceptionMessage}}
        </div>
    </section>

    <button ng-click="submitOrdemServico()" type="submit" class="default-button--filled d-width mt-64">Enviar ordem de serviço</button>
</main>