<aside class="side-menu left" id="sideMenu" ng-include="'view/sidemenu.html'"></aside>
<main class="main-page">
    <h2 class="main-page-title">Página principal</h2>
    <section class="home-page-container">
        <a class="home-page-button" href="#/ordens">Ordens de serviço</a>
        <a class="home-page-button" href="#/clientes">Clientes</a>
        <a class="home-page-button" href="#/nova-ordem">Nova Ordem de serviço</a>
        <a class="home-page-button" href="#/novo-cliente">Novo cliente</a>
        <button class="default-button--outline" ng-click="teste()">Teste</button>
    </section>
</main>