<main class="login_background">
    <div class="login_window">
        <img class="login_window_logo" src="img/logo-betha.svg" alt="logo betha">
        <div ng-show="showError" class="default-error">
            <span class="mdi mdi-alert-outline"></span>{{errorMessage}}
        </div>
        <div ng-show="loginForm.email.$invalid && loginForm.email.$dirty" class="default-error">
            <span class="mdi mdi-alert-outline"></span> Você deve inserir um email válido!
        </div>
        <div ng-show="loginForm.senha.$invalid && loginForm.senha.$dirty" class="default-error">
            <span class="mdi mdi-alert-outline"></span> A senha não pode ser vazia!
        </div>
        <form name="loginForm">
            <div class="input-group mb-26">
                <label class="default-label" for="email-login">Email</label>
                <input class="default-input" id="email-login" name="email" ng-model="funcionario.email" ng-required="true" type="email" placeholder="Insira um email válido">
            </div>
            <div class="input-group mb-26">
                <label class="default-label" for="password-login">Senha</label>
                <input class="default-input" id="password-login" name="senha" ng-model="funcionario.senha" ng-required="true" type="password" placeholder="Insira sua senha">
                <a class="simple-link" href="#/forgot">Esqueci minha senha</a>
            </div>
            <button type="submit" class="default-button--filled" ng-disabled="loginForm.$invalid" ng-click="submit(funcionario)">Entrar</button>
        </form>
    </div>
</main>