<section>
    <h3 class="default-subtitle mb-16">Imagens:</h3>
    <section class="image-gallery">
        <div class="image-container" ng-repeat="imagem in item.imagens">
            <div class="imgButton-container">
                <button ng-show="canChangeComponent && isNotRecepcionista()" ng-click="onDeleteImage(imagem)"><span class="mdi mdi-delete-outline"></span></button>
                <a href="{{uri+imagem.nomeArquivo}}" target="blank"><span class="mdi mdi-arrow-expand"></span></a>
            </div>
            <img ng-src="{{uri+imagem.nomeArquivo}}" alt="teste">
        </div>
        <h4 ng-show="showImageGalleryError"><span class="mdi mdi-image-remove"></span> Este equipamento não possui nenhuma foto cadastrada</h4>
    </section>
    <form ng-show="canChangeComponent && isNotRecepcionista()" class="row-container justify-space-between mt-16 gap-y-16">
        <div class="column-container">
            <label class="stretch" for="itemImg">Escolha uma imagem:</label>
            <input type="file" accept="image/*" class="content-width" id="itemImg" name="itemImg" >
        </div>
        <button ng-click="onUploadImage()" class="noBg-button content-width"><span class="mdi mdi-image-plus"></span> Salvar imagem</button>
    </form>
    <div ng-show="showImageUploadError" class="default-error lg-width mt-16">
        <span class="mdi mdi-alert-outline"></span>{{imageUploadErrorMessage}}
    </div>
</section>