<aside class="side-menu left" id="sideMenu" ng-include="'view/sidemenu.html'" ng-controller="sidemenuController"></aside>
<main class="main-page">
    <h2 class="main-page-title">Ordens de Serviço</h2>
    <section class="ordens-container column-container gap-x">
        <div class="search-input-group">
            <div class="input-group">
                <label class="default-label" for="ordem-search">Busca rápida:</label>
                <div class="search-elements md-width">
                    <input ng-model="searchInput" class="default-input search" id="ordem-search" type="text" placeholder="Digite o nome do cliente">
                </div>
            </div>
        </div>
        <table class="default-table">
            <tr class="default-tableRow">
                <th>ID</th>
                <th>Cliente</th>
                <th>Situação</th>
                <th>Orçamento</th>
                <th>Pagamento</th>
                <th>Data de criação</th>
            </tr>
            <tr ng-click="verOrdem(ordemServico.id)" ng-repeat="ordemServico in ordensServico | filter:searchInput" class="default-tableRow">
                <td class="tableItem">{{ordemServico.id}}</td>
                <td class="tableItem">{{ordemServico.cliente}}</td>
                <td ng-class="statusColor(ordemServico.situacao)" class="tableItem">{{ordemServico.situacao}}</td>
                <td class="tableItem">{{ordemServico.valorTotal | currency}}</td>
                <td ng-class="statusColor(ordemServico.pagamento)" class="tableItem">{{ordemServico.pagamento}}</td>
                <td class="tableItem">{{ordemServico.instante | date:'dd/MM/yyyy HH:mm'}}</td>
            </tr>
        </table>
        <div ng-show="showTableError" class="default-error lg-width">
            <span class="mdi mdi-alert-outline"></span>{{tableErrorMessage}}
        </div>
        <div class="default-pagination">
            <a ng-class="isSelected(page.value)" ng-repeat="page in pagination" class="default-pagination-button" href="#/ordens?page={{page.value}}">{{page.value+1}}</a>
        </div>
    </section>
</main>