<aside class="side-menu left" id="sideMenu" ng-include="'view/sidemenu.html'" ng-controller="sidemenuController"></aside>
<main class="main-page">
    <back-button></back-button>
    <h2 class="main-page-title">Ordem de Servico n. {{pageId}}</h2>
    <section class="ordens-container column-container gap-x">

        <section class="default-container row-container">
            <div class="column-container stretch gap-x-16">
                <section>
                    <h3 class="default-subtitle mb-8">Detalhes:</h3>
                    <div class="info-row">
                        <h4>Data de criação:</h4>
                        <p>{{ordemServico.instante | date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="info-row">
                        <h4>Orçamento final:</h4>
                        <p>{{ordemServico.valorTotal | currency}}</p>
                    </div>
                </section>

                <section>
                    <h3 class="default-subtitle mb-8">Cliente:</h3>
                    <div class="info-row">
                        <h4>Nome:</h4>
                        <p>{{cliente.nome}}</p>
                    </div>
                    <div class="info-row">
                        <h4>Email:</h4>
                        <p>{{cliente.email}}</p>
                    </div>
                    <div class="info-row">
                        <h4>Telefone:</h4>
                        <p>{{cliente.telefone}}</p>
                    </div>
                    <div class="info-row">
                        <h4>Endereço:</h4>
                        <p>{{cliente.endereco}}</p>
                    </div>
                </section>
            </div>
            <div class="column-container gap-x-16">
                <section>
                    <h3 class="default-subtitle mb-8">Situação:</h3>
                    <span ng-class="setColorBasedOnStatus(ordemServico.situacao)" class="status-box">{{ordemServico.situacao}}</span>
                </section>
                <section>
                    <h3 class="default-subtitle mb-8">Pagamento:</h3>
                    <span ng-class="setColorBasedOnStatus(ordemServico.pagamento)" class="status-box">{{ordemServico.pagamento}}</span>
                </section>
            </div>
        </section>

        <section class="ordem-details-table">
            <h3 class="default-subtitle">Equipamentos da ordem:</h3>
            <table class="default-table">
                <tr class="default-tableRow">
                    <th>ID</th>
                    <th>Equipamento</th>
                    <th>Orçamento</th>
                    <th>Fotos</th>
                    <th>Ações</th>
                </tr>
                <tr ng-repeat="item in ordemServico.itens" class="default-tableRow">
                    <td class="tableItem">{{item.id}}</td>
                    <td class="tableItem">{{item.equipamento}}</td>
                    <td class="tableItem">{{item.orcamento | currency}}</td>
                    <td class="tableItem">{{item.imagens.length}}</td>
                    <td class="tableItem sm-width">
                        <div class="row-container gap-y-16">
                            <button ng-click="openImageModal(item.id)" class="tiny-button">Ver/adicionar imagens</button>
                            <button ng-click="onAccessItem(pageId, item.id)" class="tiny-button">Ver Equipamento</button>
                        </div>
                    </td>
                </tr>
            </table>
        </section>

        <div ng-show="showTableError" class="default-error lg-width">
            <span class="mdi mdi-alert-outline"></span>{{tableErrorMessage}}
        </div>
        
        <div class="column-container gap-x-16">
            <section ng-if="canChangeComponent && isNotRecepcionista()" class="checkbox-section md-width">
                <div class="checkbox-row">
                    <input ng-model="checkbox.email.selected" type="checkbox" id="email-check">
                    <label class="default-label" for="email-check">Enviar email para o cliente</label>
                </div>
                <p>Se esta opção estiver marcada ao salvar as alterações, a situação da ordem de serviço será alterada para AGUARDANDO_DECISAO e nenhuma alteração poderá ser feita a partir deste ponto.</p>
            </section>
    
            <section ng-if="isOrdemServicoPagamentoPendente(ordemServico.pagamento) && isNotTecnico() && (ordemServico.situacao === 'APROVADA' || ordemServico.situacao === 'CONCLUIDA')" class="checkbox-section md-width">
                <div class="checkbox-row">
                    <input ng-model="checkbox.pagamento.selected" type="checkbox" id="pagamento-check">
                    <label class="default-label" for="pagamento-check">O cliente pagou pelo serviço</label>
                </div>
                <p>Marque esta opção apenas se o pagamento pelo serviço de manutenção foi realizado.</p>
            </section>
        </div>

        <div class="row-container gap-y-16">
            <button ng-click="onConfirmOrdemServicoChanges()" ng-if="isEmailCheckboxActivated() && isNotRecepcionista() || isPagamentoCheckboxActivated() && isNotTecnico()" type="submit" class="default-button--filled sm-width">Confirmar</button>
            <button ng-click="updateSituacao('CONCLUIDA')" ng-if="canFinishOrdemServico() && isNotRecepcionista()" type="submit" class="default-button--outline green sm-width">Concluir ordem</button>
            <button ng-click="openCancelConfirmationModal()" ng-if="canCancelOrdemServico()" type="submit" class="default-button--outline red sm-width">Cancelar ordem</button>
        </div>
    </section>
</main>