<aside class="side-menu left" id="sideMenu" ng-include="'view/sidemenu.html'" ng-controller="sidemenuController"></aside>
<main class="main-page">
    <back-button></back-button>
    <h2 class="main-page-title">{{item.equipamento}}</h2>
    <section class="column-container gap-x">
        <div>
            <section class="default-container lg-width">
                <div class="column-container stretch gap-x-16">
                    <section class="item-details">
                        <h3 class="default-subtitle">Detalhes do equipamento:</h3>
                        <p>{{item.descricao}}</p>
                    </section>
                    <section class="item-details">
                        <h3 class="default-subtitle">Avarias do equipamento:</h3>
                        <p>{{item.avaria}}</p>
                    </section>
                </div>
            </section>
            <button type="submit" class="default-button--filled mt-16 sm-width">Alterar descrição/avarias</button>
        </div>
    
        <div>
            <h3 class="default-subtitle mb-16">Imagens:</h3>
            <section class="image-gallery">
                <div class="image-container" ng-repeat="imagem in item.imagens">
                    <div class="imgButton-container">
                        <button><span class="mdi mdi-delete-outline"></span></button>
                        <button><span class="mdi mdi-arrow-expand"></span></button>
                    </div>
                    <img ng-src="{{uri+imagem.nomeArquivo}}" alt="teste">
                </div>
                <h4 ng-show="showImageError"><span class="mdi mdi-image-remove"></span> Este equipamento não possui nenhuma foto cadastrada</h4>
            </section>
            <form class="row-container mt-16 gap-y-16">
                <div class="column-container">
                    <label class="stretch" for="itemImg">Escolha uma imagem:</label>
                    <input type="file" accept="image/*" class="content-width" id="itemImg" name="itemImg" >
                </div>
                <button ng-click="onUploadImage()" class="noBg-button content-width"><span class="mdi mdi-image-plus"></span> Salvar imagem</button>
            </form>
        </div>

        <section class="content-width">
            <h3 class="default-subtitle mb-16">Orçamento da manutenção: </h3>
            <div>
                <span class="lg-currency-text">R$ </span>
                <input ng-model="item.orcamento" id="orcamento-input" type="text" class="orcamento-input lg-currency-text sm-width"  maxlength="10" oninput="this.value = this.value.replace(/[^0-9,]/g, '').replace(/(\..*)\./g, '$1');">
            </div>
        </section>
    
        <div ng-show="showTableError" class="default-error lg-width">
            <span class="mdi mdi-alert-outline"></span>{{tableErrorMessage}}
        </div>
    
        <div class="row-container gap-y">
            <button type="submit" class="default-button--filled sm-width">Salvar alterações</button>
            <button type="submit" class="default-button--outline sm-width">Cancelar</button>
        </div>
    </section>
</main>