<header class="side-menu__header">
    <div class="row-container">
        <img src="img/profile.jpg" alt="Foto de perfil do usuário">
        <div class="side-menu__info">
            <h4>{{userName}}</h4>
            <p>{{userType}}</p>
        </div>
    </div>
</header>
<div class="side-menu__body">
    <ul class="side-menu__list">
        <li class="side-menu__item">
            <a href="#/home">
                <span class="mdi mdi-home-outline"></span><p>Página principal</p>
            </a>
        </li>
        <accordion>
            <a>
                <span class="mdi mdi-chevron-down"></span>Ordens de Serviço
            </a>
            <ul class="side-menu__list">
                <li class="side-menu__subitem"><a href="#/ordens">
                    <span class="mdi mdi-file-document-multiple-outline"></span>Ordens cadastradas
                </a></li>
                <li class="side-menu__subitem"><a href="#/nova-ordem">
                    <span class="mdi mdi-file-plus-outline"></span>Nova ordem
                </a></li>
            </ul>
        </accordion>
        <accordion>
            <a>
                <span class="mdi mdi-chevron-down"></span>Clientes
            </a>
            <ul class="side-menu__list">
                <li class="side-menu__subitem"><a href="#">
                    <span class="mdi mdi-account-multiple-outline"></span>Clientes cadastrados
                </a></li>
                <li class="side-menu__subitem"><a href="#/nova-ordem">
                    <span class="mdi mdi-account-plus-outline"></span>Novo cliente
                </a></li>
            </ul>
        </accordion>
        <accordion>
            <a>
                <span class="mdi mdi-chevron-down"></span>Conta
            </a>
            <ul class="side-menu__list">
                <li class="side-menu__subitem"><a href="#">
                    <span class="mdi mdi-account"></span>Dados da conta
                </a></li>
                <li class="side-menu__subitem" ng-click="logOut()" ><a>
                    <span class="mdi mdi-exit-to-app"></span>Sair da conta
                </a></li>
            </ul>
        </accordion>
    </ul>
</div>