<header class="side-menu__header">
    <div class="row-container">
        <img src="img/profile.jpg" alt="Foto de perfil do usuário">
        <div class="side-menu__info">
            <h4>{{userName}}</h4>
            <p>{{userType}}</p>
        </div>
    </div>
</header>
<div class="side-menu__body" ng-if="verificaTela()">
    <ul class="side-menu__list">
        <li class="side-menu__item active">
            <a href="#">
                <span class="mdi mdi-home-outline"></span><p>Página principal</p>
            </a>
        </li>
        <li class="side-menu__item">
            <a href="#">
                <span class="mdi mdi-chevron-down"></span><p>Ordens de Serviço</p>
            </a>
        </li>
        <li class="side-menu__item">
            <a href="#">
                <span class="mdi mdi-chevron-down"></span><p>Clientes</p>
            </a>
        </li>
        <li class="side-menu__item">
            <a href="#">
                <span class="mdi mdi-chevron-down"></span><p>Conta</p>
            </a>
        </li>
    </ul>
</div>